<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/css.css">
    <link rel="icon" href="https://img.icons8.com/fluency/96/000000/event-accepted-tentatively.png">
    <title>Even4</title>  
</head>

<body>
        <header class="p-3 d-flex justify-content-around align-items-center shadow-sm" id="site-header">
            <div class="navbar-brand">
                <img  class="img-logo" src="/images/icon.png">
                    <h1>Even4</h1>
            </div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/eventos">Eventos acadêmicos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sobre">Sobre</a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="nav justify-content-center">
                    <a href="/login" class="btn">Login</a>
                    <a href="/signup" class="btn btn-primary" id="signup-button">Criar conta</a>
                </ul>
            </div>
        </header>
        {{{body}}}
            <!-- Footer -->
    <footer class="bg-primary text-white text-center text-lg-start">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center p-2 mt-4 border-bottom">
        <!-- Right -->
        <div>
            <section class="mb-0.5">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee;"
        href="#!"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #dd4b39;"
        href="#!"
        role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #0082ca;"
        href="#!"
        role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="#!"
        role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
        </div>
        <!-- Right -->
    </section>
    <!-- Section: Social media -->
    <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start p-4">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-2 text-grayish"></i>Even4
          </h6>
          <p>
            A plataforma tem como objetivo gerenciar eventos acadêmicos, facilitando a vida de ambos os usuários.
          </p>
        </div>

        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
            <p><i class="fas fa-home me-3 text-grayish"></i>R. José Antônio da, R. José Leôncio da Silva, 300 - Lot. Jardim Oasis</p>
            <p>
                <i class="fas fa-envelope me-3 text-grayish"></i>
                Even4@gmail.com
            </p>
            <p><i class="fas fa-phone me-3 text-grayish"></i> (83) 9648-9508</p>
            </div>

            <div class="col-lg-3 col-md-5 mb-4 mb-md-0">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.0079308489194!2d-38.544856999999986!3d-6.889652499999991!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7a473a32378c727%3A0x4e45e65b60da5295!2sIFPB%20-%20Campus%20Cajazeiras!5e0!3m2!1spt-BR!2sbr!4v1660820922500!5m2!1spt-BR!2sbr" 
            width="450" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"> </iframe>
         </div>
        </div>
        <!-- Grid column -->
    </div>
  </section>
  <!-- Section: Links  -->
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
        © 2022 Copyright:
        <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Mizuno Soluções</a>
    </div>
    <!-- Copyright -->
    </footer>
    <!-- Footer -->      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>