<div class="container-sobre">

    <h1>Eventos Futuros</h1>

    <ul>
       <li> <b> MulherTech </b> </li>

      <center><img src="https://img.evbuc.com/https%3A%2F%2Fcdn.evbuc.com%2Fimages%2F329950549%2F421071480283%2F1%2Foriginal.20220804-180622?w=800&auto=format%2Ccompress&q=75&sharp=10&rect=0%2C0%2C2160%2C1080&s=0907a83e7990bb9050015926e4df606f"
      alt="some text" width=550 height=350></center>

      <center><i>Evento ocorrre dia 03/09/2022</i></center>

      <h5> <b> Sobre o evento:</b> </h5>
O Mulher Tech Sim Senhor é um grande encontro das mulheres de TI da Paraíba, promovido anualmente pelo Women Techmakers JP, um programa de alcance global do Google.

Realizado desde 2016, o evento oferece à comunidade palestras, mini-cursos, oficinas, mesas redondas e mentorias, com discussão não apenas de conteúdos técnicos, mas também de assuntos como diversidade, igualdade de gênero e mercado de trabalho.

Em maio de 2022, depois de meses de distanciamento social, foi realizado a sexta edição do evento superando todas as expectativas! Mais de 200 participantes estiveram juntas em um dia intenso de reencontros, palestras, rodas de conversa e muito acolhimento. Para muitas delas, foi a primeira experiência num grupo tão grande de mulheres, e todas ficaram ansiosas pela próxima oportunidade.

Por isso, o Mulher Tech Sim Senhor está de volta! Dessa vez com uma programação ainda mais diversificada e cheia de surpresas. A temática dessa vez é a relação das mulheres com o mundo dos jogos.

<br>Para mais informações, acesse o site oficial do evento <a href="https://www.mulhertechsimsr.com.br/">MulherTech.</a></bl>

      <li><b>Maratona POP</b></li>
<center><img src="https://th.bing.com/th/id/OIP.qBokozZV0hRf1unYL8x7iQHaE7?pid=ImgDet&rs=1"
      alt="some text" width=550 height=350></center>

      <center><i>Evento ocorrre dia 23/10/2022</i></center>

      <h5> <b> Sobre o evento:</b> </h5>
A Maratona POP é uma olimpíada de programação realizada desde 2004 pelo Projeto Olímpico de Programação (POP) do IFPB. O POP é um projeto que visa agregar ao currículo técnico, as habilidades básicas e avançadas de programação (desenvolvimento de software), 
através de treinamentos, no aprendizado de resolução de problemas envolvendo algoritmos. A Maratona POP É uma competição destinada para as pessoas que estão regularmente 
matriculadas em Curso do Nível Médio de quaisquer campi do IFPB, no ano 2021, que possuem o interesse no estudo de programação, promovendo a criatividade, espírito de 
coletividade (equipe) e resistência ao trabalho sob pressão. Habilidades que representam diferencial importante no profissional de TI.

<br>Para mais informações, acesse o edital oficial do evento <a href="https://www.ifpb.edu.br/joaopessoa/pesquisa/editais/2021/edital-10-2021-dipped-ifpb-e-demais-informacoes-em-andamento/edital-10-2021-maratona-pop-medio.pdf/view">POP.</a></br>

      <li><b>2º Festival de Arte e Cultura do IFPB e I Encontro de Economia Solidária do IFPB</b></li>
      <center><img src="https://www.ifpb.edu.br/joaopessoa/noticias/2020/11/campus-joao-pessoa-informa-sobre-impossibilidade-de-acesso-ao-predio-no-periodo-de-13-a-16-de-novembro/fachada.jpeg"
      alt="some text" width=550 height=350></center>

      <center><i>Evento ocorre de 09/11/22 a 10/112022.</i></center>

      <h5> <b> Sobre o evento:</b> </h5>
      O 2º Festival de Arte e Cultura do IFPB, promovido pela Pró-Reitoria de Extensão e Cultura, se constitui em uma série de mostras estudantis que contemplam as artes 
      e as culturas contemporâneas em seus aspectos tradicional e urbana, de modo a abordar a arte enquanto área de conhecimento e a expressão cultural como imprescindíveis na formação humana e cidadã para o mundo do trabalho.
      
      <br>O evento ocorrerá na cidade de João Pessoa, nos dias 9 e 10 de novembro de 2022, com programações acontecendo no Theatro Santa Roza, na Usina Cultural Energisa e no IFPB Campus João Pessoa, 
      envolvendo a comunidade acadêmica do IFPB e de outras instituições de educação, além de artistas, brincantes, pesquisadores e escritores paraibanos.</br>

      Para mais informações, acesse a página de eventos do <a href="https://eventos.ifpb.edu.br/">IFPB</a>.
    </ul>

</div>
