<div class="container-login">
    <form method="POST" action="/login">
        <div class="mb-3">
            <label for="email" class="form-label">Usuário ou e-mail:</label>
            <input type="email" class="form-control" name="email" id="login-email" required>
        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">Senha:</label>
            <input type="password" class="form-control" name="senha" id="senha" required>
        </div>
        <input type="submit" value="Entrar" class="btn btn-primary">    
       <br> Não tem uma conta? <a href="/signup">Criar conta</a>.
    </form>
</div>