<div class="content-page container-lg">
  <div class="content">
    <h2>Sobre o Even4</h2>
    <p>O Even4 é uma plataforma online de divulgação de eventos acadêmicos, para que professores e estudantes
      tenham acesso a todo o universo da academia de maneira prática e fácil.
    </p>
    <p>Este é um <strong>projeto desenvolvido por estudantes</strong> do curso de <strong>Análise e Desenvolvimento de Sistemas</strong>
    do <strong>IFPB - Campus Cajazeiras</strong>.</p>
    <p>Lista dos desenvolvedores:</p>
    <ul>
      <li>Ewerton - <a href="https://www.linkedin.com/in/ewertonmac/">Linkedin</a>
      |<a href="https://github.com/ewertonmac">Github</a>;</li>
      <li>Fabíola - <a href="https://www.linkedin.com/in/fab%C3%ADola-diniz-29388879/?original_referer=https%3A%2F%2Fwww%2Elinkedin%2Ecom%2F&originalSubdomain=br">Linkedin</a> 
      |<a href="https://github.com/fabioladiniz97">Github</a>;</li>
      <li>Moacir - <a href="https://www.linkedin.com/in/moacir-david-7735b7158/">Linkedin</a> 
      |<a href="https://github.com/moacirdavidag">Github</a>;</li>
      <li>Vanessa - <a href="https://www.linkedin.com/in/vanessa-lira-67b460249/">Linkedin</a> |<a href="https://github.com/mvanessatavares">Github</a>;</li>
    </ul>
  </div>
</div>
