<div class="content-page container-lg">
  <div class="content">
    <h2>Sobre o Even4</h2>
    <p>O Even4 é uma plataforma online de divulgação de eventos acadêmicos, para que professores e estudantes
      tenham acesso a todo o universo da academia de maneira prática e fácil.
    </p>
    <p>Este é um <strong>projeto desenvolvido por estudantes</strong> do curso de <strong>Análise e Desenvolvimento de Sistemas</strong>
    do <strong>IFPB - Campus Cajazeiras</strong>.</p>
    <p>Lista dos desenvolvedores:</p>
    <ul>
      <li>Ewerton - Linkedin | Github;</li>
      <li>Fabíola - Linkedin | Github;</li>
      <li>Vanessa - Linkedin | Github;</li>
      <li>Moacir - Linkedin | Github.</li>
    </ul>
  </div>
</div>