<div class="content-page container-lg">
  <div class="content">
    <h2 class="titulo">Sobre o <a style="color:#0274b2;">Even4</a></h2>
    <p>O Even4 é uma plataforma online de divulgação de eventos acadêmicos, para que professores e estudantes
      tenham acesso a todo o universo de palestras de maneira prática e fácil.
    </p>
    <p>Este é um <strong>projeto desenvolvido por estudantes</strong> do curso superior de <strong>Análise e Desenvolvimento de Sistemas</strong>
    do <strong>IFPB - Campus Cajazeiras</strong>.</p>
    <h2 class="dev">Desenvolvedores:</h2>
      <div class="container">
    <div class="row text-center">

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card-dev bg-white rounded shadow-sm py-5 px-4"><img src="/images/equipe/ewerton.png"  alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Ewerton Maciel</h5>
                  <section class="mb-0.5">
                    <!-- Linkedin -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #0082ca;"
                      href="https://www.linkedin.com/in/ewertonmac/"
                      role="button"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                    <!-- Github -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #333333;"
                      href="https://github.com/ewertonmac"
                      role="button"
                      ><i class="fab fa-github"></i
                    ></a>
                </section>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card-dev bg-white rounded shadow-sm py-5 px-4"><img src="/images/equipe/fabiola.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Fabíola Diniz</h5>
                  <section class="mb-0.5">
                    <!-- Linkedin -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #0082ca;"
                      href="https://www.linkedin.com/in/fab%C3%ADola-diniz-29388879/"
                      role="button"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                    <!-- Github -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #333333;"
                      href="https://github.com/fabioladiniz97"
                      role="button"
                      ><i class="fab fa-github"></i
                    ></a>
                </section>
                    
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card-dev bg-white rounded shadow-sm py-5 px-4"><img src="/images/equipe/moacir.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Moacir David</h5>
                   <section class="mb-0.5">
                    <!-- Linkedin -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #0082ca;"
                      href="https://www.linkedin.com/in/moacir-david-7735b7158/"
                      role="button"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                    <!-- Github -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #333333;"
                      href="https://github.com/moacirdavidag"
                      role="button"
                      ><i class="fab fa-github"></i
                    ></a>
                </section>
            </div>
        </div><!-- End -->

        <!-- Team item -->
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="card-dev bg-white rounded shadow-sm py-5 px-4"><img src="/images/equipe/vanessa.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Vanessa Lira </h5>
                   <section class="mb-0.5">
                    <!-- Linkedin -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #0082ca;"
                      href="https://www.linkedin.com/in/vanessa-lira-67b460249/"
                      role="button"
                      ><i class="fab fa-linkedin-in"></i
                    ></a>
                    <!-- Github -->
                    <a
                      class="btn btn-primary btn-floating m-1"
                      style="background-color: #333333;"
                      href="https://github.com/mvanessatavares"
                      role="button"
                      ><i class="fab fa-github"></i
                    ></a>
                </section>
            </div>
        </div><!-- End -->
    </div>
</div>
   
  </div>
</div>
