* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* fonte importada */

a, a:visited, a:hover {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

:root {
    --dark-blue: #023E8A;
    --blue-1: #0077B6;
    --blue-2: #0096C7;
    --blue-3: #00B4D8;
    --blue-4: #48CAE4;
    --blue-5: #CAF0F8;
    --text: #777272;
}

html,body{
    min-height:100%;
    position: relative;
    scroll-behavior: smooth;
   
}

body {

    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    background-color: #fcfcfc;
}

.img-logo{
   margin-right:2px;
   float: left;
   height:50px;
   
  
}

#site-header {
    display: flex;
    color: var(--blue-2);
    border-bottom: 1px solid #eeecec;
    background-color: white;
    max-width: 100%;
    font-size: 1.1rem;
}



#site-footer {
    bottom:0px;
    left:0;
    max-width: 100%;
    background-color: var(--blue-1);
    color: white;
    font-weight: 100;
    font-size: 1rem;
}


#signup-button {
    color: white;
    margin-left:3px;
}

.home-cards {
    margin-top: 20px;
   
}

.home-cards:hover {
    transition: 200ms ease-in-out;
    transform: scale(105%);
}

.img-top {
    height:20rem;
    width:35%;
}

.container-login {
    display: block;
    margin: 30px auto;
    width: 50%;
}
.container-sobre{
    min-height:40rem;
     padding: 5px 80px 55px 90px;

}

.social:hover{
    box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.702);
    scale:110%;
}

.card-dev:hover{
    box-shadow: 0 0 20px 1px;
    scale:110%;
}

.dev{
    text-align: center;
}

.titulo{
    text-align: center;
    padding-top:20px;
}

h3, h4 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.foto-perfil {
    width: 250px;
    height: auto;
    border-radius: 50%;
}

.perfil-foto {
    width: auto;
    height: 30px;
}

#ouvintes-evento {
    overflow-y: scroll;
    max-height: 20rem;
}

.botao{
    display: inline-block;
}

#editar {
    margin-left:60%;

    position: absolute;
    top:53%;
}

#excluir {
    margin-left:73%;
 
    position: absolute;
    top:52%;
}

#cancelar{
    margin-left:7%;
    position: absolute;
    top:55.2%;
    
}